{% extends "base.html" %}


{% block content %}
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            <div class="item item-1">
              <div class="header-text">
                <span class="category">{{ category1 }}</span>
                <h2>{{ action1 }}</h2>
                <p>{{ sub_action1}}</p>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category">{{ category2 }}</span>
                <h2>{{ action2 }}</h2>
                <p>{{ sub_action2}}</p>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category">{{ category3 }}</span>
                <h2>{{ action3 }}</h2>
                <p>{{ sub_action3}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
