{% extends "base.html" %}

{% block content %}
  <form>
    <h4>
      Получение токена
    </h4>
    <div class="form-row ">
      <div class="form-group col-lg-4">
        <label for="inputUser">Пользователь </label>
        <input type="text" class="my-input-text" id="inputUser" placeholder="" value="{{ user.username }} " size="50">
        <label for="inputToken">Токен </label>
        <input type="text" class="my-input-text" id="inputToken" readonly placeholder="" value="{{ token }}"  size="50">
        <input type="button"id='inputGet' value="Получить">
      </div>
    </div>
  </form>
{% endblock  %}